* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* navbar started */
#navigation {
  margin: 20px 0px;
}
.container {
  width: min(800px, 100% - 2rem);
  margin-inline: auto;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
}
.nav-logo img {
}
.nav-list {
  display: flex;
}
.nav-list ul {
  list-style: none;
}
.nav-list ul li {
  display: inline-block;
}
.nav-list ul li a {
  padding: 10px 20px;
}
/* navbar end */

#banner-section {
}
.banner-content {
  padding: 100px 0px;
  text-align: center;
  background-color: rgb(248, 157, 46);
}
.heading {
}
.heading h1 {
  text-align: center;
  margin: 50px auto;
}
.box-area {
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}

.boxes:nth-child(1) {
  grid-area: one;
}
.boxes:nth-child(2) {
  grid-area: two;
}
.boxes:nth-child(3) {
  grid-area: three;
}
.boxes:nth-child(4) {
  grid-area: four;
}
.boxes:nth-child(5) {
  grid-area: five;
}
.boxes:nth-child(6) {
  grid-area: six;
}

@media (min-width: 588px) {
  .box-area {
    grid-template-areas:
      "one two"
      "four three"
      "five six" !important;
    margin: 100px auto !important;
  }
}

/* @media (min-width: 320px) {
  .box-area {
    grid-template-areas:
      "one two"
      "four three"
      "five six";
    margin: 10px auto;
  }
} */

.box-img {
  background-color: rgb(5, 104, 104);
  width: min(400px, 100%-10px);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-img h1 {
}
.box-text {
  width: min(400px, 100%-10px);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-text h3 {
}
.box-text h2 {
}
.box-text p {
}

/* bottom box area start */

.bottom-box {
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  margin: 50px auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}
.b-box-child {
  background-color: rgb(158, 152, 163);
  width: auto;
  padding: 20px;
  text-align: justify;
}
.b-box-child:nth-child(1) {
  grid-area: one;
}
.b-box-child:nth-child(2) {
  grid-area: two;
}
.b-box-child:nth-child(3) {
  grid-area: three;
}
.b-box-child:nth-child(4) {
  grid-area: four;
}
.b-box-child:nth-child(5) {
  grid-area: five;
}
.b-box-child:nth-child(6) {
  grid-area: six;
}

@media (min-width: 700px) {
  .bottom-box {
    grid-template-areas:
      "one two three"
      "one two three"
      "four two six"
      "four five six"
      "four five six" !important;
  }
}
/* bottom box area end */
